body {
    margin: 0;
    color: aliceblue;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(1, 1, 56);

    overflow-y: auto;
    }
.button_area{
    margin: 10%;
}
    .container{
        min-height: 100vh;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gamebox{
    margin: 5vh 10vw;
    padding: 5vh;
    border: 2px solid lightgray;

    }

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

    .star {
        position: absolute;
        background-color: white;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        animation: twinkling 1s infinite;
    }
    @keyframes twinkling {
        0%, 100% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
    }
    @keyframes fireworks {
        0% { transform: translateY(0) scale(1); opacity: 1; }
        50% { transform: translateY(-100px) scale(0.8); opacity: 0; }
        100% { transform: translateY(0) scale(1); opacity: 1; }
      }
      .firework {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #ffcc00;
        border-radius: 50%;
        animation: fireworks 1s ease-out;
      }
  button {
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    button:hover {
        background-color: #333; /* Darken the button background on hover */
        color: white; /* Change text color to white on hover */
    }
    @media (max-width: 768px) {
        .button_area {
            margin: 5%;
        }
    
        .gamebox {
            margin: 3vh 5vw;
            padding: 3vh;
        }
    }